.contacts__title {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 26px;
  font-size: 18px;
  line-height: 30px;
}

.contacts__list {
  width: 260px;
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
  margin-bottom: 39px;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.contacts__type {
  width: 76px;
  padding: 0;
  padding-bottom: 30px;
  vertical-align: top;
}

.contacts__value {
  width: 80px;
  padding: 0;
  vertical-align: top;
}

.contacts__mail {
  display: block;
  color: #444444;
  text-decoration: none;
  border-bottom: 1px solid #63d1bb;
  
  &:hover {
    color: #46c1ae;
  }
  
  &:active {
    opacity: 0.3;
  }
}

.contacts__map {
  width: 320px;
  height: 457px;
  margin: 0 auto 36px auto;
  background: url('../img/map-mobile@1x.jpg') center no-repeat;
  background-size: 320px auto;
  
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url('../img/map-mobile@2x.jpg');
  }
}

.contacts__message {
  width: 260px;
  font-size: 18px;
}

@media (min-width: $tablet-width) {
  .contacts__title {
    position: relative;
    width: 668px;
    margin-bottom: 50px;
    font-size: 43px;
    line-height: 50px;

    &::after {
      position: absolute;
      content: "";
      width: 47px;
      height: 81px;
      top: 50%;
      right: 3px;
      transform: translateY(-50%);
      background-image: url("../img/icon-flag.svg");
    }
  }

  .contacts__list {
    width: 668px;
    font-size: 17px;
    margin-bottom: 58px;

    tbody {
      display: flex;
    }
  }

  .contacts__item {
    width: 50%;
  }

  .contacts__value {
    width: auto;
  }

  .contacts__map {
    width: 768px;
    margin-bottom: 51px;
    background-image: url("../img/map-tablet@1x.jpg");
    background-size: 768px auto;
    
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url('../img/map-tablet@2x.jpg');
    }

    iframe {
      width: 100%;
    }
  }

  .contacts__message {
    width: 230px;
    font-size: 17px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .contacts__wrap {
    width: 350px;
    margin-left: 175px;
    margin-bottom: 23px;
    padding-top: 70px;
  }

  .contacts__title {
    width: auto;
    margin-right: 0;
    font-size: 53px;
    line-height: 57px;

    &::after {
      left: -110px;
    }
  }

  .contacts__list {
    width: auto;
    margin-left: 0;

    tbody {
      flex-direction: column;
    }
  }

  .contacts__item {
    width: 100%;
  }

  .contacts__map {
    position: absolute;
    right: 0;
    top: 0;
    width: 525px;
    background-image: url("../img/map-desktop@1x.jpg");
    background-size: 525px auto;
    
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url('../img/map-desktop@2x.jpg');
    }
  }

  .contacts__message {
    margin-left: 175px;
  }
}
