.form-field__title {
  padding-right: 27px;
  font-size: 17px;
  line-height: 1.2;
  font-weight: 700;
  color: #63d1bb;
  text-transform: uppercase;
}

.form-field__label {
  display: block;
  position: relative;
  padding-left: 62px;
  padding-bottom: 25px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;

  cursor: pointer;
}

.form-field__item {
  display: none;
}

.form-field__item + .form-field__label::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 2px;
  width: 16px;
  height: 16px;
  background-color: white;
  border: 10px solid white;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #444444;
}

.form-field__item:checked + .form-field__label::before {
  background-color: #63d1bb;
}

.form-field__item + .form-field__label:hover::before {
  box-shadow: 0 0 0 2px #62d1ba;
}

.form-field__item + .form-field__label:active::before {
  box-shadow: 0 0 0 2px rgba(68, 68, 68, 0.3);
}

.form-field__checkbox {
  display: none;
}

.form-field__checkbox + .form-field__label {
  padding-bottom: 43px;

  &::before {
    content: "";
    position: absolute;
    top: -8px;
    left: 0;
    width: 37px;
    height: 35px;
    border: 2px solid #444444;
  }

  &::after {
    display: none;
    content: "";
    position: absolute;
    top: 5px;
    left: 8px;
    width: 22px;
    height: 16px;
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-position: -4px -7px;
  }

  &:hover::before {
    border-color: #62d1ba;
  }

  &:active::before {
    border-color: rgba(68, 68, 68, 0.3);
  }
}

.form-field__checkbox:checked + .form-field__label {
  &::after {
    display: inline-block;
  }
}

.form-field__label--text {
  padding-left: 0;
  padding-bottom: 22px;
  box-sizing: border-box;
}

.form-field__text {
  width: 100%;
  padding-right: 50px;
  border: 0;
  border-bottom: 2px solid black;
  background-color: transparent;
  line-height: 48px;
  color: #444444;

  box-sizing: border-box;

  &::placeholder {
    font-family: "Open sans", "Arial", sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #444444;
    opacity: 0.3;
  }

  &:hover {
    border-color: #62d1ba;

    & + .form-field__icon {
      fill: #62d1ba;
      opacity: 1;
    }
  }

  &:focus {
    border-color: #62d1ba;
  }
}

.form-field__icon {
  position: absolute;
  top: 35px;
  right: 9px;
  width: 25px;
  height: 24px;
  opacity: 0.2;
  cursor: pointer;
  z-index: -1;

  &--mail {
    width: 32px;
    height: 32px;
    right: 5px;
  }
}

.form-field__textarea {
  width: 100%;
  height: 142px;
  overflow: auto;
  border: 2px solid #444444;
  padding: 15px;
  font-family: "Open sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #444444;
  box-sizing: border-box;

  &:hover {
    border-color: #62d1ba;
  }

  &:focus {
    outline: none;
    border-color: #62d1ba;
  }
}

.form-field__textarea::placeholder {
  color: #444444;
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .form-field--gray-bg {
    background-color: #f1f1f1;
    padding-top: 65px;
  }

  .form-field__wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .form-field__title {
    position: absolute;
    padding: 0;
    left: 50px;

    &--pos-top {
      top: 65px;
    }

    &--pos-middle {
      top: 39px;
    }
  }

  .form-field__label {
    padding-left: 80px;
    padding-bottom: 58px;
    font-size: 19px;
    line-height: 19px;
  }

  .form-field__item + .form-field__label::before {
    width: 22px;
    height: 22px;
    border-width: 13px;
    top: -13px;
  }

  .form-field__checkbox + .form-field__label {
    width: 262px;
    margin: 0;
    padding-bottom: 58px;
    box-sizing: border-box;

    &::before {
      top: -15px;
      width: 50px;
      height: 48px;
    }

    &::after {
      top: 0;
      left: 11px;
      width: 33px;
      height: 22px;
      background-position: 0 0;
      background-size: 33px 22px;
    }
  }

  .form-field__label--text {
    display: flex;
    align-items: center;
    padding-bottom: 23px;
  }

  .form-field__text {
    margin-left: 25px;
    padding-left: 16px;
    font-size: 19px;
    line-height: 49px;

    &::placeholder {
      font-size: 19px;
    }
  }

  .form-field__text--icon {
    box-sizing: border-box;
    margin-left: 0;
  }

  .form-field__icon {
    top: 60px;
    right: 77px;
    z-index: 0;

    &--mail {
      top: 35px;
      right: 72px;
    }
  }

  .form-field__textarea {
    padding-top: 13px;
    font-size: 19px;
    line-height: 19px;
  }
}

@media (min-width: $desktop-width) {
  .form-field__title {
    left: 112px;
  }

  .form-field--gray-bg {
    padding-top: 64px;
  }

  .form-field__checkbox + .form-field__label {
    width: 264px;
  }

  .form-field__text {
    margin-left: 24px;
    padding-left: 18px;
  }

  .form-field__icon {
    top: 60px;
    right: 233px;

    &--mail {
      top: 35px;
      right: 229px;
    }
  }
}
