.making {
  width: 258px;
  margin: 0 auto;
  padding-top: 7px;
  padding-bottom: 31px;
  border: 1px solid #ececec;
  
  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.making__title {
  position: relative;
  margin-bottom: 25px;
  padding-left: 88px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: black;

  &::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 32px;
    width: 32px;
    height: 32px;
    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;
  }
}

.making__img {
  width: 258px;
  height: 150px;
}

.making__description {
  padding: 12px 33px;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
}

.making__btn {
  width: auto;
  margin: 0 33px;
}

@media (min-width: $tablet-width) {
  .making {
    width: 668px;
    padding-top: 0;
    padding-bottom: 45px;
    display: flex;
    flex-direction: column;
  }

  .making__title {
    padding-left: 105px;
    font-size: 20px;

    &::before {
      top: -3px;
      left: 42px;
    }
  }

  .making__video {
    margin-bottom: 16px;
    order: -1;
  }

  .making__description {
    padding: 0 39px;
    margin-top: 9px;
    margin-bottom: 35px;
    font-size: 15px;
    line-height: 30px;
  }

  .making__btn {
    margin: 0 42px;
  }
}

@media (min-width: $desktop-width) {
  .making {
    position: relative;
    width: 230px;
    padding-left: 762px;
    padding-right: 58px;
    padding-bottom: 61px;
  }

  .making__title {
    padding-top: 78px;
    padding-left: 0;

    &::before {
      left: 2px;
      top: 24px;
    }
  }

  .making__video {
    position: absolute;
    top: 0;
    left: 0;
  }

  .making__description {
    padding: 0;
    margin-bottom: 48px;
  }

  .making__btn {
    margin: 0;
  }
}
