.order__title {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 22px;
  padding: 70px 0 75px 0;
  background-color: #f1f1f1;
}

.order__description {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 23px;
  padding: 0 30px;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
}

.order__form {
  width: 260px;
  margin: 0 auto;
}

.order__item {
  padding: 0;
  padding-top: 31px;
  padding-bottom: 18px;
  margin: 0;
  border: 0;
  border-top: 1px solid #63d1bb;
}

.order__item--color-padding {
  padding-bottom: 0;
  padding-top: 33px;
}

.order__item--author-padding {
  padding-top: 27px;
  padding-bottom: 8px;
}

.order__item--phone {
  position: relative;
  padding-top: 5px;
  padding-bottom: 30px;
}

.order__item--mail {
  position: relative;
  padding-top: 5px;
  padding-bottom: 30px;
}

.order__item--message {
  padding-top: 23px;
  padding-bottom: 11px;
}

.order__memo {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #444444;
}

.order__btn {
  margin-top: 30px;
  background-color: transparent;
}

@media (min-width: $tablet-width) {
  .order {
    width: 768px;
    margin: 0 auto;
    text-align: left;
  }

  .order__title {
    position: relative;
    width: 768px;
    margin-bottom: 75px;
    padding: 22px 0 80px 0;

    &::before {
      content: "";
      position: absolute;
      bottom: -14px;
      left: 0;
      width: 100%;
      height: 24px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-size: auto 24px;
      z-index: 1;
    }
  }

  .order__description {
    width: 668px;
    padding: 0 50px;
    font-size: 17px;
    line-height: 30px;
  }

  .order__form {
    position: relative;
    width: 768px;
  }

  .order__item {
    position: relative;
    border: none;
    padding-left: 217px;
    padding-top: 49px;
    padding-bottom: 10px;
  }

  .order__item--color-pading {
    display: flex;
    flex-wrap: wrap;
  }

  .order__item--author-padding {
    padding-right: 50px;
    padding-top: 49px;
    padding-left: 137px;
    padding-bottom: 28px;
  }

  .order__item--phone {
    background-color: #f1f1f1;
    padding-right: 50px;
    padding-top: 49px;
    padding-bottom: 0;
  }

  .order__item--mail {
    background-color: #f1f1f1;
    padding-top: 23px;
    padding-right: 50px;
    padding-bottom: 50px;
  }

  .order__item--message {
    padding-right: 50px;
    padding-top: 50px;
  }

  .order__memo {
    position: absolute;
    bottom: 15px;
    right: 50px;
    font-size: 17px;
    line-height: 30px;
  }

  .order__btn {
    width: 230px;
    margin-top: 40px;
    margin-left: 50px;
  }
}

@media (min-width: $desktop-width) {
  .order {
    width: 1150px;
  }

  .order__title {
    width: 1150px;
    padding-top: 20px;
    padding-bottom: 105px;
    margin-bottom: 120px;
  }

  .order__title::before {
    height: 34px;
    background-size: auto;
  }

  .order__description {
    width: 700px;
    padding: 0 225px;
  }

  .order__form {
    width: 1150px;
  }

  .order__item {
    padding-left: 225px;
  }

  .order__item--author-padding {
    padding-left: 147px;
    padding-right: 224px;
  }

  .order__item--phone {
    padding-left: 200px;
    padding-right: 248px;
  }

  .order__item--mail {
    padding-left: 200px;
    padding-right: 248px;
  }

  .order__item--message {
    padding-right: 224px;
  }

  .order__memo {
    bottom: 13px;
    right: 222px;
  }

  .order__btn {
    margin-top: 37px;
    margin-left: 225px;
  }
}
