.page-header {
  position: relative;
  width: 320px;
  margin: 0 auto;
  border-top: 1px solid $gray-light;
  border-bottom: 1px solid $gray-light;
}

.page-header__legend {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-header {
    width: 668px;
    border: none;
  }

  .page-header__legend {
    display: block;
    position: absolute;
    bottom: 30px;
    right: 0;
    font-size: 15px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: 1150px;
  }

  .page-header__legend {
    right: 49px;
    bottom: 32px;
  }
}
