.page-form__footer {
  margin-top: 55px;
  padding-top: 27px;
}

@media (min-width: $tablet-width) {
  .page-form__header::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -50px;
    width: 768px;

    height: 71px;
    background-color: #f1f1f1;
  }

  .page-form__footer {
    margin-top: 51px;
    padding-top: 49px;
  }
}

@media (min-width: $desktop-width) {
  .page-form__header::before {
    width: 1150px;
    left: 0;
    height: 74px;
  }

  .page-form__footer {
    margin-top: 49px;
    padding-top: 35px;
    padding-bottom: 37px;
  }
}
