.products-nav {
  @include clear-list;

  width: 320px;
  margin: 0 auto;
}

.products-nav__link {
  position: relative;
  display: block;
  padding: 24px 160px 31px 30px;
  color: #ffffff;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  box-sizing: border-box;
  transition: 0.2s;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.5;
    z-index: 2;
  }

  &:hover::before {
    opacity: 0.7;
  }

  &:active::before {
    opacity: 0.3;
  }
}

.products-nav__link--lighter {
  background-color: #63d1bb;

  &::before {
    width: 40px;
    height: 62px;
    right: 37px;
    background: url("../img/icon-interior.svg") center center no-repeat;
  }

  &:hover {
    background-color: #59d5bc;
  }
}

.products-nav__link--darker {
  background-color: #56c3b2;

  &::before {
    width: 60px;
    height: 60px;
    right: 27px;
    background: url("../img/icon-toy.svg") center center no-repeat;
  }

  &:hover {
    background-color: #46c1ae;
  }
}

@media (min-width: $tablet-width) {
  .products-nav {
    width: 668px;
    display: flex;
    flex-wrap: wrap;
  }

  .products-nav__item {
    width: 50%;
    flex-grow: 1;
  }

  .products-nav__link {
    padding: 28px 160px 36px 35px;
    font-size: 20px;
    line-height: 30px;

    &:hover {
      bottom: 5px;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }

  .products-nav__link--darker::before {
    right: 35px;
  }
}

@media (min-width: $desktop-width) {
  .products-nav {
    width: 1050px;
  }

  .products-nav__link {
    padding: 28px 305px 36px 35px;
  }
}
