.social {
  @include clear-list;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0;
}

.social__link {
  margin: 0 21px;

  &--inst {
    width: 22px;
    height: 21px;
  }

  &--fb {
    width: 15px;
    height: 28px;
  }

  &--tw {
    width: 23px;
    height: 20px;
  }
}

.footer__copyright {
  margin-top: 47px;
  margin-bottom: 25px;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  line-height: 34px;
  font-weight: 700;
  color: black;
  text-decoration: none;

  svg {
    margin-left: 28px;
  }
}
