.video {
  position: relative;
}

.video__wrap {
  width: 260px;
  height: 150px;
  background: url("../img/video-mobile@1x.jpg") center/cover no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/video-mobile@2x.jpg");
  }
}

.video__play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 101px;
  height: 77px;
  border: none;
  transform: translate(-50%, -50%);
  background: transparent url("../img/icon-play.svg") no-repeat;
  transition: 0.1s;

  &:hover {
    transform: translate(-50%, -50%) scale(1.2);
  }

  &:active {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .video__wrap {
    width: 668px;
    height: 455px;
    background-image: url("../img/video-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/video-tablet@2x.jpg");
    }
  }
}

@media (min-width: $desktop-width) {
  .video {
    position: absolute;
  }

  .video__wrap {
    width: 682px;
    background-image: url("../img/video-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/video-desktop@2x.jpg");
    }

  }
}
